@import url(./reset.css);

:root {
    --button-disabled: #bbb;
    --bg: #ebebeb;
    --border: #656565;
    --x-color: #3499fe;
    --o-color: #fc3437;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}

body {
    background-color: var(--bg);
}

.field-container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__row {
    display: flex;
    border-bottom: 7px solid var(--border);
}

.field__row:last-child {
    border-bottom:none;
}

.field__row > .field__cell{
    border-right: 7px solid var(--border);
}

.field__row > .field__cell:last-child{
    border-right: none;
}

.field__cell {
    font-size: 3rem;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.hint-container__heading {
    font-size: 4rem;
    margin-bottom: 5%;
    color:var(--x-color);
    text-align: center;
}

.hint-container__heading_disable {
    display: none;
}

.controll-buttons__controll-button {
    border: none;
    background-color: var(--bg);
    font-size: 3rem;
    margin: 0 2%;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}

.controll-inputs__input-container {
    margin-bottom: 2%;
}

.controll-buttons__controll-button_disabled {
    color: var(--button-disabled);
}

.controll-buttons__controll-button_sm {
    font-size: 2rem;
}

.controll-buttons__controll-button_color-blue{
    color: var(--x-color);
}

.controll-buttons__controll-button_color-red{
    color: var(--o-color);
}

.message {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3%;
    
}

input {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    border: 3px solid var(--border);
    margin: 0 15px 0 5px;
}

@media only screen and (max-width: 576px) { 

    .controll-buttons {
        margin-bottom: 2%;
    }

    .field__row {
        border-bottom: 3px solid var(--border);
    }
    
    .field__row > .field__cell{
        border-right: 3px solid var(--border);
    }

    .controll-buttons__controll-button {
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .field__cell {
        font-size: 1.2rem;
        min-width: 28px;
        min-height: 28px;
    }
}
