@import url(./reset.css);

:root {
    --border: #000;
    --button-disabled: #bbb;
    --button-bg: #fff;
}

.container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__row {
    display: flex;
    border-bottom: 7px solid var(--border);
    border-radius: 12px;
}

.field__row:last-child {
    border-bottom:none;
}

.field__row > .field__cell{
    border-right: 7px solid var(--border);
    border-radius: 12px;
}

.field__row > .field__cell:last-child{
    border-right: none;
}

.field__cell {
    font-size: 13rem;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controll-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.controll-buttons__controll-button {
    border: none;
    background-color: var(--button-bg);
    font-size: 3rem;
    margin: 0 2%;
}

.controll-buttons__controll-button_disabled {
    color: var(--button-disabled);
}

.controll-buttons__controll-button_sm {
    font-size: 2rem;
}

.message {
    text-align: center;
    font-size: 4rem;
}

@media only screen and (max-width: 768px) { 

    .field__cell {
        width: 150px;
        height: 150px;
        font-size: 9rem;
    }

}

@media only screen and (max-width: 576px) { 

    .field__cell {
        width: 100px;
        height: 100px;
        font-size: 5rem;
    }

    .controll-buttons__controll-button {
        margin: 0;
        padding: 0;
        width: 50%;
    }

}